// Commissioner

@font-face {
  font-family: "Santa_Catarina";
  src: url("../fonts/Santa_Catarina/Santa Catarina.woff2") format("woff2"),
    url("../fonts/Santa_Catarina/Santa Catarina.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
