.why__inner {
  display: flex;
  justify-content: space-between;
}

.why-item {
  flex-basis: 25%;

  padding-right: 2.5rem;

  &:nth-child(n+2) {

    border-left: 0.1rem solid black;

    padding-left: 2.5rem;
  }
}

.why-header {
  padding: 5rem 0;
  border: none;
}

.why-item__title {
  display: block;
  min-height: 6rem;

  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;

  margin-bottom: 1rem;
  padding: 0;
}

.why-item__descr {
  font-family: "Manrope", sans-serif;
}