.footer {
  padding: 10.4rem 0;

  background-color: $black;

  @include breakpoint($sm-bp) {
    padding: 8rem 0;
  }

  & p {
    color: white;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;

  padding-bottom: 8rem;

  border-bottom: 0.2rem solid #e0e0e0;

  @include breakpoint($xl-bp) {
    flex-wrap: wrap;
  }

  @include breakpoint($sm-bp) {
    padding-bottom: 4rem;
  }
}

.footer__info {
  margin-right: 15rem;

  @include breakpoint($xl-bp) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

.footer__logo {
  display: flex;
  align-items: center;

  margin-bottom: 7.6rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 4rem;
  }
}

.footer__logo-img {
  width: 6.4rem;

  margin-right: 3.6rem;

  @include breakpoint($sm-bp) {
    width: 4.8rem;

    margin-right: 1.6rem;
  }
}

.footer__logo-name {
  font-weight: bold;
  font-size: 2.4rem;
  color: #e0e0e0;

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
  }
}

.footer__info {
  .social-links {
    width: 24rem;
  }

  .social-links__item {
    background: rgba(255, 255, 255, 0.1);

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .social-links__item-icon {
    fill: white;
  }
}

.footer__nav {
  display: flex;

  @include breakpoint($lg-bp) {
    flex-wrap: wrap;
  }

  .menu-serv__nav {
    grid-template-columns: repeat(2, 25.5rem);
    column-gap: 3.2rem;

    @include breakpoint($sm-bp) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 0.8rem;
    }
  }

  .menu-serv__wrapper {
    margin-right: 5rem;

    @include breakpoint($lg-bp) {
      order: 3;
      width: 100%;

      margin-top: 4rem;
    }
    @include breakpoint($sm-bp) {
      margin-top: 2rem;
      margin-right: 0;
    }
  }

  .menu-clients {
    width: 29rem;

    @include breakpoint($sm-bp) {
      width: 47%;
    }
  }

  .menu-clients__addres {
    color: #e0e0e0;

    @include breakpoint($sm-bp) {
      font-size: 1.2rem;
    }
  }
}

.footer-nav__menu-main {
  margin-right: 7rem;

  @include breakpoint($sm-bp) {
    width: 45%;
    margin-right: 2rem;
  }
}

.footer__nav a {
  color: #e0e0e0;

  @include breakpoint($sm-bp) {
    font-size: 1.2rem;
  }

  &:hover {
    color: $primary;
  }
}

.footer__copy {
  display: flex;
  justify-content: space-between;

  padding-top: 2.4rem;

  @include breakpoint($sm-bp) {
    flex-wrap: wrap;
  }
}

.footer__copy-text {
  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}

.footer__copy-dev {
  color: white;

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
