.footer {
  padding: 5rem 0;

  background-color: white;

  & p {
    color: $black;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 5rem;
}

.footer__logo {
  width: 100%;
  max-width: max-content;

  svg {
    width: 100%;
    max-width: 30rem;
    max-height: 6.5rem;
    fill: $black;
  }
}

.footer-text {
  width: 100%;
  max-width: 50rem;

  text-align: center;

  margin-bottom: 3rem;
}

.social-links {
  display: flex;
  gap: 4rem;

  margin-bottom: 4rem;
}

.social-links__item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  border-radius: 1rem;

  transition: all 0.1s linear;

  &:hover {
    background-color: $black;

    & svg {
      fill: white;
    }
  }
}

.social-links__item-icon {
  width: 6rem;
  height: 6rem;

  fill: $black;

  transition: all 0.1s linear;
}

.footer__phones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 4rem;

  & a {
    font-size: 2.5rem;
    font-weight: bold;
    color: $black;
  }

  & .footer__phones--mail {
    font-size: 1.6rem;
  }
}

.callback-form__descr {
  margin-bottom: 3rem;
}

.callback-form {
  display: flex;
  gap: 2rem;

  input {
    color: white;
    background-color: $black;
    border: none;

    padding: 2rem;

    &::placeholder {
      color: white;
    }
  }

  button {
    color: white;
    background-color: $black;
    border-color: $black;
    outline-color: $black;

    padding: 2rem 4rem;

    transition: all 0.1s linear;

    &:hover {
      color: $black;
      background-color: white;
    }
  }
}

.footer__copy {
  display: flex;
  justify-content: space-between;

  padding-top: 2.4rem;

  border-top: 0.1rem solid $black;

  @include breakpoint($sm-bp) {
    flex-wrap: wrap;
  }
}

.footer__copy-text {
  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}

.footer__copy-dev {
  color: $black;

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
