<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__info">
                <div class="footer__logo">
                    <img class="footer__logo-img" src="assets/images/logo-white.png" alt="logo">
                    <p class="footer__logo-name">
                        Клининговые услуги <br>
                        в Москве и Подмосковье
                    </p>
                </div>
                <div class="social-links">
                    <a class="social-links__item" href="#">
                        <svg class="social-links__item-icon inst-icon">
                            <use href="#inst"></use>
                        </svg>
                    </a>
                    <a class="social-links__item" href="#">
                        <svg class="social-links__item-icon whatsapp-icon">
                            <use href="#whatsapp"></use>
                        </svg>
                    </a>
                    <a class="social-links__item" href="#">
                        <svg class="social-links__item-icon twitter-icon">
                            <use href="#twitter"></use>
                        </svg>
                    </a>
                    <a class="social-links__item" href="#">
                        <svg class="social-links__item-icon youtube-icon">
                            <use href="#youtube"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__nav footer-nav">
                <div class="footer-nav__menu-main">
                    <p class="menu__heading menu__heading--name">PROFF CLEAN</p>
                    <nav class="menu-main__nav">
                        <a href="#">Главная</a>
                        <a href="#">Отзывы</a>
                        <a href="#">Полезная информация</a>
                        <a href="#">Контакты</a>
                    </nav>
                </div>
                <div class="menu-serv__wrapper">
                    <p class="menu__heading">Услуги</p>
                    <nav class="menu-serv__nav">
                        <a href="#">Поддерживающая уборка</a>
                        <a href="#">Ген. уборка “Все включено”</a>
                        <a href="#">Генеральная уборка</a>
                        <a href="#">Химчистка мебели и ковров</a>
                        <a href="#">Уборка после ремонта</a>
                        <a href="#">Химчистка штор</a>
                        <a href="#">Уборка офисов и помещений</a>
                        <a href="#">Мойка окон</a>
                        <a href="#">Уборка по подписке</a>
                    </nav>
                </div>
                <div class="menu-clients">
                    <p class="menu__heading">Клиентам</p>
                    <div class="menu-clients__content">
                        <p class="menu-clients__addres">
                            г. Москва ул. Большая
                            Семёновская 40, офис 108
                        </p>
                        <a href="#">Пользовательское соглашение</a>
                        <a href="#">Публичная оферта</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copy">
            <p class="footer__copy-text">© 2021 PROFF CLEAN. Все права защищены</p>
            <a class="footer__copy-dev" href="https://bydesign.by/">Разработка сайта “Студия ЯР”</a>
        </div>
    </div>
</footer>