<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo">
                <svg class="logo">
                    <use xlink:href="#logo"></use>
                </svg>
            </div>
            <p class="footer-text">Дизайн квартир, домов и коммерческих помещений в Минске и Минской области</p>
            <div class="footer__phones">
                <a href="tel:+375298876967">+375 (29) 887-69-67</a>
                <a class="footer__phones--mail" href="mailto:koltanvioletta@yandex.by">koltanvioletta@yandex.by</a>
            </div>
            <div class="social-links">
                <a class="social-links__item" href="#">
                    <svg class="social-links__item-icon inst-icon">
                        <use href="#inst"></use>
                    </svg>
                </a>
                <a class="social-links__item" href="#">
                    <svg class="social-links__item-icon whatsapp-icon">
                        <use href="#whatsapp"></use>
                    </svg>
                </a>
                <a class="social-links__item" href="#">
                    <svg class="social-links__item-icon telegram-icon">
                        <use href="#telegram"></use>
                    </svg>
                </a>
            </div>
            <p class="callback-form__descr">Закажите обратный звонок!</p>
            <form class="callback-form" action="POST">
                <input type="text" name="name" id="name" placeholder="Имя">
                <input type="text" name="phone" id="phone" placeholder="+375 (__) ___-__-__">
                <button type="submit">Заказать звонок</button>
            </form>
        </div>
        <div class="footer__copy">
            <p class="footer__copy-text">© 2024 KoltanDesign. Все права защищены</p>
            <a class="footer__copy-dev" href="#">Разработка сайта “Масик”</a>
        </div>
    </div>
</footer>