<div class="order-price__inner">
    <div class="order-price__info">
        <svg class="order-price__phone-icon">
            <use href="#mobile-phone"></use>
        </svg>
        <p class="order-price__text">Сомневаетесь или есть вопросы?
            Просто направьте фото в мессенджер и наш менеджер сориентирует Вас по стоимости. </p>

    </div>
    <div class="order-price__soc">
        <a class="simple-order__info-link" href="#">
            Instagram
            <div class="social-links__item">
                <svg class="social-links__item-icon inst-icon">
                    <use href="#inst"></use>
                </svg>
            </div>
        </a>
        <a class="simple-order__info-link" href="#">
            Whatsapp
            <div class="social-links__item">
                <svg class="social-links__item-icon whatsapp-icon">
                    <use href="#whatsapp"></use>
                </svg>
            </div>
        </a>
    </div>
</div>